# dependencies
node_modules/

# next.js
.next/
out/

# env & secrets
.env
.env*.local

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle local
*.db
*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo
